---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me"
const identity = {
  firstName: "Caleb",
  country: "United States",
  occupation: "Student",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "";
const fontWeight = "bold";
const textCase = "uppercase";
/* <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>*/
---
<BaseLayout pageTitle={pageTitle}>
<style define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: #e699ff;
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
  <p>My name is Caleb. I am a CS student with a background in systems work.</p>
  <p>I have studied at several universities. Primarily most of my education has come from the University of Oklahoma and the University of Texas at Dallas. </p> 
  <p>I have worked in the Managed Security Service Provider(MSSP) industry and 
 learned too much of how Windows and Mac's work from the system administration side. 
 I spent many hours working on Windows Server and Azure administrating on-prem servers and VPS's with varying use cases.   </p>
  <p>However, my interests lie elsewhere. I am a programmer by heart because I am intensely curious. I want to know why applications work and learn the horrid underbelly of abstractions before I use them. With that being said&mdash;I choose to spend my time on systems, application, and data visualization code. </p>

  <p>When I am not studying, writing, or coding my hobbies include:</p>
  <ul class="list">
  <li>Photography</li>
  <li>Journaling</li>
  <li>Sipping espresso</li>
  <li>Reading</li>
  <li>Traveling</li>
  <li>Exercising</li>
  </ul>
  <p>My skills are many. But if they must be said then:</p>
  <ul>
    <li>Programming Languages as a whole</li>
    <li>Version Control Systems</li>
    <li>GCP</li>
    <li>Azure</li>
    <li>Server Administration</li>
    <li>Endpoint Administration</li>
    <li>Ownership of Systems</li>
    <li>Many more</li>
  </ul>
</BaseLayout>
