---
import '../styles/global.css';
---
<body>
  <h1>This is my Third Page</h1>

  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/personal/">Personal</a>
  <a href="/blog/">Blog</a>
  <p>I am creating this as a test to see how it works. </p>

