---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "Personal Page"
---
<BaseLayout pageTitle={pageTitle}>
  <h1>This is my Third Page</h1>

  <p>I am creating this as a test to see how it works. </p>

  </BaseLayout>
